@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .filter-text-negative {
    /* #f15e6c */
    filter: invert(53%) sepia(32%) saturate(1657%) hue-rotate(313deg) brightness(94%) contrast(102%);
  }

  .btn-primary {
    @apply bg-bg-bright-accent text-text-base-dark;
  }

  .btn-primary:hover {
    @apply bg-bg-bright-accent-hover;
  }
}
